Django==5.2.4
gunicorn==26.0.0
psycopg2-binary==2.9.12

whitenoise==6.12.0
sqlparse==0.5.3
asgiref==3.9.1
tzdata==2025.2

requests==2.32.5
urllib3==2.6.2
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11

twilio==9.9.0
paypal-checkout-serversdk==1.0.3
paypalhttp==1.0.1
razorpay==2.0.0

django-import-export==4.3.14
django-phonenumber-field==8.3.0
phonenumbers==9.0.17
tablib==3.9.0

cryptography==46.0.3
pyOpenSSL==25.3.0
cffi==2.0.0
pycparser==2.23
PyJWT==2.10.1